#mid_center_top{
width:800px;
height:50px;
line-height:20px;
}
#mid_center_center{
width:800px;
height:400px;
}
#mid_center_center_left{
width:400px;
float:left;
height:400px;
}
#mid_center_center_right{
width:400px;
float:left;
height:400px;
}
#mid_center_bot{
width:800px;
float:left;
height:50px;
}